Repository opensrp/fhircore, pull requests merged in 2022-09, with the labels that each got.

#1618 [MW Core] Update to sdc datacapture v0.1.0-beta04-preview2-SNAPSHOT
  android/engine/build.gradle
Labels: Malawi CORE

#1591 [MWCore] Add finish visit functionality
  android/engine/src/main/res/values-fr/strings.xml
  android/engine/src/main/res/values-sw/strings.xml
  android/engine/src/main/res/values/strings.xml
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/models/PatientProfileViewData.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/mappers/ProfileViewDataMapper.kt
Labels: Malawi CORE

#1647 1640 fix choice item reset in paginated questionnaire
  android/engine/build.gradle
Labels: Malawi CORE

#1600 Sync the task after completing visit task.
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
Labels: Malawi CORE

#1614 Test RegisterViewModel
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/register/RegisterViewModelTest.kt
Labels: FHIR Core

#1634 [MW Core]Enable review page for paginated questionnaires
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivity.kt
Labels: Malawi CORE

#1613 [MWCore] Launch login activity for manual auth
  android/anc/src/main/java/org/smartregister/fhircore/anc/ui/login/AncLoginService.kt
  android/eir/src/main/java/org/smartregister/fhircore/eir/ui/login/EirLoginService.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/auth/AccountAuthenticator.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/auth/TokenManagerService.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginViewModel.kt
  android/engine/src/main/res/values/strings.xml
  android/engine/src/test/java/org/smartregister/fhircore/engine/auth/AccountAuthenticatorTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/auth/TokenManagerServiceTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/login/LoginActivityTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestApplication.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/login/QuestLoginService.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainUiState.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/components/AppDrawer.kt
Labels: Malawi CORE

#1629 [MWCore] 1375: Show progress dialog modal for first time syncing
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterViewModel.kt
Labels: Malawi CORE

#1674 Fix profile data refresh
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/register/RegisterConfiguration.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/SyncListenerManager.kt
  android/quest/build.gradle
  android/quest/src/main/assets/configs/app/registers/task_register_config.json
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/register/RegisterPagingSource.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileFragment.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterFragment.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterUiState.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/MeasureReportViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/List.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/extensions/LifecycleExtensions.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/app/fakes/Faker.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/data/report/measure/MeasureReportPatientsPagingSourceTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModelTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/profile/ProfileFragmentTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/register/RegisterViewModelTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/report/measure/MeasureReportViewModelTest.kt
Labels: Quest

#1632 Dynamic App reset refactor
  android/engine/build.gradle
  android/engine/src/debug/java/org/smartregister/fhircore/engine/HiltExtension.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/auth/AccountAuthenticator.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/register/LoaderView.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingFragment.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingScreen.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingsEvent.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/SecureSharedPreference.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/SharedPreferencesHelper.kt
  android/engine/src/main/res/values-fr/strings.xml
  android/engine/src/main/res/values-sw/strings.xml
  android/engine/src/main/res/values/strings.xml
  android/engine/src/test/java/org/smartregister/fhircore/engine/auth/AccountAuthenticatorTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingFragmentTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingScreenKtTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingViewModelTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/SecureSharedPreferenceTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/SharedPreferencesHelperTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/CustomPhotoCaptureFactory.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivity.kt
  android/quest/src/main/res/values-fr/strings.xml
  android/quest/src/main/res/values-sw/strings.xml
  android/quest/src/main/res/values/strings.xml
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/CustomPhotoCaptureFactoryTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivityTest.kt
Labels: FHIR Core, Quest

#1594 Measure Report documentation
  docs/in-app-reporting.md
Labels: FHIR Core

#1673 update timezone to fix sync timestamp
  android/engine/src/main/res/values-fr/strings.xml
  android/engine/src/main/res/values-sw/strings.xml
  android/engine/src/main/res/values/strings.xml
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/main/AppMainActivityTest.kt
Labels: FHIR Core, Quest

#1682 [MWCore]: patient register pull-to-sync
  android/deps.gradle
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/SyncBroadcaster.kt
  android/quest/build.gradle
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/family/profile/FamilyProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/family/profile/FamilyProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/childcontact/ChildContactsProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/components/RegisterList.kt
Labels: Malawi CORE

#1655 TB - HIV - Birth - Death measures | ANC monthly measure
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/DateTimeExtension.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/MeasureExtensions.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/DateTimeExtensionTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/MeasureExtensionTest.kt
  android/quest/build.gradle
  android/quest/src/main/assets/configs/app/measure_report_config.json
  android/quest/src/main/assets/configs/app/sync_config.json
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/MeasureReportViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/components/DateSelectionBox.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/report/measure/MeasureReportViewModelTest.kt
Labels: FHIR Core, eCBIS

#1688 :lipstick: Update the input field color coding
  android/engine/src/main/res/values/styles.xml
Labels: Quest

#1576 Implement remote sync resource tagging
  CHANGELOG.md
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/ConfigurationRegistry.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/app/ApplicationConfiguration.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/app/ConfigService.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/cql/LibraryEvaluator.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/DefaultRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/SearchFilters.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/p2p/dao/BaseP2PTransferDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/p2p/dao/P2PReceiverTransferDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/SyncBroadcaster.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/SyncStrategy.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/task/FhirCarePlanGenerator.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/appsetting/AppSettingViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/SharedPreferenceKey.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/AndroidExtensions.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/ApplicationExtension.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/FhirEngineExtension.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/ResourceExtension.kt
  android/engine/src/main/res/values/strings.xml
  android/engine/src/test/assets/configs/app/application_config.json
  android/engine/src/test/java/org/smartregister/fhircore/engine/app/AppConfigService.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/app/fakes/Faker.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/configuration/app/ApplicationConfigurationTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/cql/LibraryEvaluatorTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/DefaultRepositoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepositoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/p2p/dao/BaseP2PTransferDaoTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/p2p/dao/P2PReceiverTransferDaoTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/sync/SyncBroadcasterTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/task/FhirCarePlanGeneratorTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/appsetting/AppSettingViewModelTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/login/LoginActivityTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/login/LoginScreenTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/login/LoginViewModelTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/ApplicationExtensionTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/FhirEngineExtensionTest.kt
  android/geowidget/src/main/java/org/smartregister/fhircore/geowidget/screens/GeoWidgetViewModel.kt
  android/geowidget/src/test/java/org/smartregister/fhircore/geowidget/di/config/FakeConfigService.kt
  android/geowidget/src/test/java/org/smartregister/fhircore/geowidget/screens/GeoWidgetViewModelTest.kt
  android/quest/src/androidTest/java/org/smartregister/fhircore/quest/Faker.kt
  android/quest/src/main/assets/configs/app/application_config.json
  android/quest/src/main/assets/configs/app/registers/household_register_config.json
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestConfigService.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireViewModel.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/CqlContentTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/app/fakes/Faker.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireViewModelTest.kt
Labels: FHIR Core

#1669 1648 optimize search functionality
  android/engine/build.gradle
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/components/RegisterList.kt
  android/quest/src/main/res/values/strings.xml
Labels: Malawi CORE

#1690 Fix task completion on questionnaire submission
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/QuestionnaireConfig.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/extensions/QuestionnaireExtension.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivityTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireViewModelTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/extension/QuestionnaireExtensionTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/extensions/QuestionnaireExtensionTest.kt
Labels: Quest

#1706 Updated engine build.gradle files with latest SDK artifacts
  android/engine/build.gradle
Labels: FHIR Core, FHIR SDK Dependency

#1709 Sync by patient resources
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/SyncBroadcaster.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/appsetting/AppSettingViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/SharedPreferenceKey.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/JsonExtension.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/sync/SyncBroadcasterTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/appsetting/AppSettingViewModelTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivityTest.kt
Labels: Quest
