Repository opensrp/fhircore, pull requests merged in 2022-10, with the labels that each got.

#1656 Renew access token on expiry
  android/engine/src/main/java/org/smartregister/fhircore/engine/auth/AccountAuthenticator.kt
  android/engine/src/main/res/values-fr/strings.xml
  android/engine/src/main/res/values-sw/strings.xml
  android/engine/src/main/res/values/strings.xml
  android/engine/src/test/java/org/smartregister/fhircore/engine/auth/AccountAuthenticatorTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModelTest.kt
Labels: FHIR Core, Quest

#1698 Month year Date parsing with locale
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/DateTimeExtension.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/MeasureExtensions.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/DateTimeExtensionTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/MeasureExtensionTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/MeasureReportViewModel.kt
Labels: FHIR Core, Quest

#1628 [MW Core]Only enable the save button when user reaches the final page
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/FhirCoreQuestionnaireFragment.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModel.kt
  android/engine/src/main/res/layout/activity_questionnaire.xml
Labels: Malawi CORE

#1708 [Mwcore] Fix hiding "syncing..." modal after sync completes
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/SharedPreferencesHelper.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/SharedPreferencesHelperTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterViewModel.kt
Labels: Malawi CORE

#1713 1424 patient profile edit details
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileViewModel.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/RegisterContentTest.kt
  android/quest/src/test/resources/mwcore-registration/patient-edit-profile-structure-map.txt
  android/quest/src/test/resources/mwcore-registration/patient-register-updates-questionnaire.json
  android/quest/src/test/resources/mwcore-registration/patient.json
  android/quest/src/test/resources/mwcore-registration/questionnaire-resposne.json
  android/quest/src/test/resources/mwcore-registration/questionnaire.json
Labels: Malawi CORE

#1545 [MWCore] 'Guardian management' for infants in patient profile
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/domain/Guardian.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/di/CoreModule.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/di/Qualifiers.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/HealthStatus.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ProfileData.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/repository/PatientDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireConfig.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/PatientExtension.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDaoTest.kt
  android/quest/src/main/assets/configs/quest/config_sync.json
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/patient/HivPatientGuardianRepository.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/navigation/MainNavigationScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/navigation/NavigationArg.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/navigation/OverflowMenuFactory.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/guardians/GuardianNotOnARTProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/guardians/GuardianNotOnARTProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/guardians/GuardianRegisterUiState.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/guardians/GuardianRegisterViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/guardians/GuardiansRegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/models/PatientProfileViewData.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/mappers/ProfileViewDataMapper.kt
  android/quest/src/main/res/values/ids.xml
  android/quest/src/main/res/values/strings.xml
  android/quest/src/test/java/org/smartregister/fhircore/quest/data/patient/HivPatientGuardianRepositoryTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/navigation/OverflowMenuFactoryTest.kt
Labels: Malawi CORE

#1716 Pass patient finish visit
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivity.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/AndroidExtensionTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/guardians/GuardianNotOnARTProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/models/PatientProfileViewData.kt
Labels: Malawi CORE

#1724 1720 login prefill last session username
  android/engine/src/main/java/org/smartregister/fhircore/engine/auth/AccountAuthenticator.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginViewModel.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/auth/AccountAuthenticatorTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/login/LoginActivityTest.kt
Labels: Malawi CORE

#1507 [MWCore] Pass observations to tests results questionnaires
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ProfileData.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/models/PatientProfileViewData.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/mappers/ProfileViewDataMapper.kt
Labels: Malawi CORE

#1300 Create fhir-core-architecture-documetation - WIP
  android/README.md
  docs/fhir-core-documetation.md
Labels: FHIR Core

#1744 Pass 'active' careplan as a single resource, not in bundle
  android/anc/src/main/java/org/smartregister/fhircore/anc/ui/family/form/FamilyQuestionnaireActivity.kt
  android/eir/src/main/java/org/smartregister/fhircore/eir/ui/vaccine/RecordVaccineActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/models/PatientProfileViewData.kt
Labels: Malawi CORE

#1715 defaultrepository tests
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/DefaultRepository.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/DefaultRepositoryTest.kt
Labels: FHIR Core

#1736 :white_check_mark: Adding tests for the child immunization structure map
  android/engine/src/test/java/org/smartregister/fhircore/engine/task/FhirCarePlanGeneratorTest.kt
  android/engine/src/test/resources/plans/child-immunization-schedule/patient.json
  android/engine/src/test/resources/plans/child-immunization-schedule/plan-definition.json
  android/engine/src/test/resources/plans/child-immunization-schedule/structure-map-child-immunization-schedule.txt
  android/quest/src/main/assets/configs/app/composition_config.json
  android/quest/src/main/assets/configs/app/profiles/household_profile_config.json
  android/quest/src/main/assets/configs/app/profiles/inventory_profile_config.json
  android/quest/src/main/assets/configs/app/registers/inventory_register_config.json
Labels: eCBIS

#1752 Remove identifier for Guardian with no art profile
  android/.gitignore
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDaoTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/components/PersonalData.kt
Labels: Malawi CORE

#1743 Save questionnaire responses as in-progress
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/QuestionnaireConfig.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/base/AlertDialogue.kt
  android/engine/src/main/res/values-fr/strings.xml
  android/engine/src/main/res/values-sw/strings.xml
  android/engine/src/main/res/values/strings.xml
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/base/AlertDialogueTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireViewModel.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivityTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireViewModelTest.kt
Labels: FHIR Core

#1755 Update default configs
  android/quest/src/main/assets/configs/app/profiles/inventory_profile_config.json
  android/quest/src/main/assets/configs/app/registers/household_register_config.json
  android/quest/src/main/assets/configs/app/registers/inventory_register_config.json
Labels: App Configuration (Phase 2), HACKTOBERFEST-ACCEPTED

#1753 Cache paginated register data
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterFragment.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterViewModel.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/register/RegisterViewModelTest.kt
Labels: FHIR Core

#1765 [Quest/Malawi Core] Fix Client and Guardian Filter reset on sync
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileViewModel.kt
Labels: Malawi CORE

#1742 update sdc to v0.1.0-beta05-preview4-SNAPSHOT
  android/deps.gradle
  android/engine/build.gradle
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivityTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/AndroidExtensionApi24Test.kt
Labels: Malawi CORE

#1766 Change the app locale to UK
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/base/BaseMultiLanguageActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/register/BaseRegisterActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/register/RegisterViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/userprofile/UserProfileViewModel.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/RegisterViewModelTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/userprofile/UserProfileViewModelTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
Labels: Malawi CORE

#1770 [MWCORE] Stop Login Activity from going back to the previous Activity
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginActivity.kt
  android/engine/src/main/res/values/strings.xml
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/login/LoginActivityTest.kt
Labels: Malawi CORE

#1768 Remove the languages switching option
  android/quest/src/main/assets/configs/app/application_config.json
Labels: Quest

#1763 Age calculation fix for patients
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/PatientExtension.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/PatientExtensionTest.kt
Labels: Quest

#1762 Update default configs and add the supply chain observations
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/helper/TransformSupportServices.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/helper/TransformSupportServicesTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/StructureMapUtilitiesTest.kt
  android/quest/src/test/resources/content/general/location/location-response-sample.json
  android/quest/src/test/resources/content/general/location/location-structure-map.json
  android/quest/src/test/resources/content/general/location/location-structure-map.txt
  android/quest/src/test/resources/content/general/supply-chain/physical _inventory _count_and_stock.map
  android/quest/src/test/resources/content/general/supply-chain/questionnaire-response-standard.json
Labels: Supply Chain, HACKTOBERFEST-ACCEPTED

#1781 [MWCore] Questionnaire validation bug fix
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivity.kt
Labels: Malawi CORE

#1776 [MWCore] Refactor search
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/PatientRegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/repository/RegisterDao.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDaoTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/patient/PatientRegisterPagingSource.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/patient/model/PatientPagingSourceState.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterViewModel.kt
Labels: Malawi CORE
