Repository opensrp/fhircore, pull requests merged in 2023-03, with the labels that each got.

#2100 [MWCore] Add transfer out option to the patient
  android/quest/src/main/java/org/smartregister/fhircore/quest/navigation/OverflowMenuFactory.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileViewModel.kt
  android/quest/src/main/res/values/ids.xml
  android/quest/src/main/res/values/strings.xml
  android/quest/src/test/java/org/smartregister/fhircore/quest/navigation/OverflowMenuFactoryTest.kt
Labels: Malawi CORE

#2099 [MWCore] Add sync button on profile
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/profile/PatientProfileViewModel.kt
Labels: Malawi CORE

#2109 RnD On Various Optimisations : DNM
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/RepositoryResourceData.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/rulesengine/RulesExecutor.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/rulesengine/RulesFactory.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/ParallelUtil.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/register/RegisterPagingSource.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/report/measure/MeasureReportRepository.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterViewModel.kt
Labels: DNM

#2070 Fix issue 2036 [Configuration-Filtering registers based on resources attributes ]
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/ConfigurationRegistry.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/profile/ManagingEntityConfig.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ActionConfig.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ActionParameterType.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/repository/Repository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/rulesengine/RulesExecutor.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepositoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/rulesengine/RulesExecutorTest.kt
  android/quest/src/main/assets/configs/app/profiles/household_profile_config.json
  android/quest/src/main/assets/configs/app/registers/household_register_config.json
  android/quest/src/main/assets/configs/app/registers/practitioner_register_config.json
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/register/RegisterPagingSource.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/report/measure/MeasureReportRepository.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/navigation/NavigationArg.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileFragment.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterFragment.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/IterableUtil.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/extensions/ConfigExtensions.kt
  android/quest/src/main/res/navigation/application_nav_graph.xml
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/profile/ProfileViewModelTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/register/RegisterViewModelTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/IterableUtilKtTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/IterableUtilTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/extensions/ComposeExtensionsTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/extensions/ConfigExtensionsTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/extensions/WorkManagerExtensionsTest.kt
Labels: Documentation

#2125 [Quest/Malawi Core] In the app, sort the order of the tasks on the patient profile with 'double' values bug fix
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/TaskExtension.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDaoTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/TaskExtensionTest.kt
Labels: Malawi CORE

#2121 [Quest/Malawi Core] Hide deceased patients in the patients register
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/app/fakes/Faker.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDaoTest.kt
Labels: Malawi CORE

#2134 [MWCore] Update codcov.yaml to match 'main'
  .github/workflows/ci-mwcore.yml
  android/engine/src/test/java/org/smartregister/fhircore/engine/configuration/ConfigurationRegistryTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/patient/details/SimpleDetailsActivityTest.kt
  codecov.yml
Labels: Malawi CORE

#2151 Remove hard-coded codecov commit parent
  .github/workflows/ci-mwcore.yml
Labels: Malawi CORE

#2162 [MWCore] Internal release 0.1.5
  android/quest/build.gradle
Labels: Malawi CORE

#2110 Add worker to check 28+ days missed appointments for "Welcome Service"
  android/engine/src/main/java/org/smartregister/fhircore/engine/appointment/ProposedWelcomeServiceAppointmentsWorker.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/app/ConfigService.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
Labels: Malawi CORE, Appointments

#2206 Add extractValue() rule documentation
  docs/rules-engine/working-with-rules.mdx
Labels: Documentation

#2204 [MWCore] Pass resource list to questionnaire response
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModel.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModelTest.kt
Labels: Malawi CORE

#2202 Release 0.2.1
  CHANGELOG.md
  android/quest/build.gradle
Labels: DNM
