Repository opensrp/fhircore, pull requests merged in 2023-04, with the labels that each got.

#2199 [MWCore] Sort appointment and tracing registers
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/AppointmentRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/TracingRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/tracing/TracingRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModel.kt
Labels: Malawi CORE, Tracing, Appointments

#2230 [Quest] Add a generic app flavour for testing purposes
  android/quest/src/quest/res/drawable/ic_app_logo.png
  android/quest/src/quest/res/drawable/ic_launcher.png
  android/quest/src/quest/res/drawable/ic_launcher.xml
Labels: Quest

#2238 [MWCore] Optimize Tracing register
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/TracingRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/tracing/TracingRepository.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/appointment/register/AppointmentRegisterViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/tracing/register/TracingRegisterViewModel.kt
Labels: Malawi CORE, Tracing

#2250 Rewritting a misleading family (Group Resource) generation test.
  android/quest/src/test/java/org/smartregister/fhircore/quest/StructureMapUtilitiesTest.kt
  android/quest/src/test/resources/content/general/family/family-registration.map
  android/quest/src/test/resources/content/general/family/questionnaire-response-standard.json
  android/quest/src/test/resources/content/general/supply-chain/physical_inventory_count_and_stock.map
  android/quest/src/test/resources/geowidget.map
Labels: Technical Debt

#2270 Refactor ProfileViewModel to remove code that will not execute
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileViewModel.kt
Labels: Code Health

#2246 [MWCore] Update to the latest sdc libraries
  android/deps.gradle
  android/engine/build.gradle
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/ConfigurationRegistry.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/remote/fhir/resource/FhirXFhirQueryResolver.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/remote/fhir/resource/ReferenceUrlResolver.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/AppSyncWorker.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/SyncBroadcaster.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/register/LoaderView.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/CustomPhotoCaptureFactory.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/FhirCoreQuestionnaireFragment.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireItemViewHolderFactoryMatchersProviderFactoryImpl.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/register/BaseRegisterActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/AppDataStore.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/AndroidExtensions.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/QuestionnaireExtension.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/ResourceExtension.kt
  android/engine/src/main/res/layout/activity_questionnaire.xml
  android/engine/src/main/res/values/styles.xml
  android/engine/src/test/java/org/smartregister/fhircore/engine/configuration/ConfigurationRegistryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/DefaultRepositoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/dao/AppointmentRegisterDaoTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDaoTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/remote/fhir/resource/FhirXFhirQueryResolverTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/remote/fhir/resource/ReferenceUrlResolverTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/sync/AppSyncWorkerTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/task/FhirCarePlanGeneratorTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/task/FhirTaskPlanWorkerTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/base/AlertDialogueTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/components/LoaderViewKtTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/CustomPhotoCaptureFactoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivityTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/register/BaseRegisterActivityTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/ApplicationExtensionTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/ResourceExtensionTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestApplication.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/family/remove/BaseRemoveFamilyEntityQuestionnaireActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/remove/HivPatientQuestionnaireActivity.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/data/PatientRepositoryTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/data/PatientTaskRepositoryTest.kt
Labels: Malawi CORE

#2275 Fix issue 2274 [ Invalidate cache when retrieving register data and executing filtering with params shared across screens]
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/ConfigurationRegistry.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/configuration/ConfigurationRegistryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepositoryTest.kt
Labels: eCBIS

#2292 Enhance closed PR #2086 to order household based on other interractions other than adding a user to household
  CHANGELOG.md
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireViewModel.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireViewModelTest.kt
Labels: Code Health
