Repository opensrp/fhircore, pull requests merged in 2023-01, with the labels that each got.

#1900 Patient resource meta.tag array not being synced to server when updated
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/ResourceExtension.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModelTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/ResourceExtensionTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/patient/register/PatientRegisterViewModel.kt
Labels: Malawi CORE

#1925 Trigger the FhirTaskPlanWorker every time tasks are generated
  android/engine/src/main/java/org/smartregister/fhircore/engine/task/FhirCarePlanGenerator.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/task/FhirCarePlanGeneratorTest.kt
Labels: FHIR Core

#1936 Implement extension function for scheduling periodic tasks
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/app/ApplicationConfiguration.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/task/FhirTaskExpireUtil.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/task/FhirTaskExpireWorker.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/task/FhirTaskPlanWorker.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/CircularProgressBar.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/SharedPreferenceKey.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/configuration/app/ApplicationConfigurationTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/task/FhirTaskExpireUtilTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/task/FhirTaskExpireWorkerTest.kt
  android/quest/src/main/assets/configs/app/application_config.json
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestApplication.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterFragment.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/extensions/WorkManagerExtensions.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/extensions/WorkManagerExtensionsKtTest.kt
Labels: FHIR Core, Quest

#1933 Filtering resources based on the value extracted from a FHIRPath expression
  android/engine/src/main/java/org/smartregister/fhircore/engine/rulesengine/RulesFactory.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/rulesengine/RulesFactoryTest.kt
Labels: FHIR Core

#1865 Handle network exceptions when autorenewing Auth Tokens
  android/engine/src/main/java/org/smartregister/fhircore/engine/auth/AccountAuthenticator.kt
  android/engine/src/main/res/values-fr/strings.xml
  android/engine/src/main/res/values-sw/strings.xml
  android/engine/src/main/res/values/strings.xml
  android/engine/src/test/java/org/smartregister/fhircore/engine/auth/AccountAuthenticatorTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterFragment.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/main/AppMainActivityTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModelTest.kt
Labels: FHIR Core

#1943 Remove duplicate FHIR SDK Submit button
  android/deps.gradle
  android/engine/src/main/res/layout/activity_questionnaire.xml
  android/engine/src/main/res/values-fr/strings.xml
  android/engine/src/main/res/values-sw/strings.xml
  android/engine/src/main/res/values/strings.xml
  android/engine/src/main/res/values/styles.xml
  android/quest/build.gradle
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestQuestionnaireFragment.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivity.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivityTest.kt
Labels: FHIR Core

#1951 Fix change managing entity
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/profile/ManagingEntityConfig.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/profile/ProfileConfiguration.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/ListProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/DefaultRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ActionConfig.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ExtractedResource.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/rulesengine/RulesFactory.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/fhirpath/FhirPathDataExtractor.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/DefaultRepositoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/rulesengine/RulesFactoryTest.kt
  android/quest/src/androidTest/java/org/smartregister/fhircore/quest/ui/profile/components/ChangeManagingEntityViewTest.kt
  android/quest/src/main/assets/configs/app/profiles/household_profile_config.json
  android/quest/src/main/assets/configs/app/translations/strings_config.properties
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileEvent.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/ProfileViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/components/ChangeManagingEntityView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/components/MemberProfileBottomSheetView.kt
  android/quest/src/main/res/values/strings.xml
  android/quest/src/map/assets/configs/app/profiles/household_profile_config.json
  android/quest/src/map/assets/configs/app/translations/strings_config.properties
  android/quest/src/test/assets/configs/app/profiles/household_profile_config.json
  android/quest/src/test/assets/configs/app/translations/strings_config.properties
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/profile/ProfileViewModelTest.kt
Labels: FHIR Core

#1947 Add tests for RulesFactory.kt and GeoWidgetFragment.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/rulesengine/RulesFactory.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/rulesengine/RulesFactoryTest.kt
  android/geowidget/src/test/java/org/smartregister/fhircore/geowidget/screens/GeoWidgetFragmentTest.kt
Labels: FHIR Core, Code Health

#1931 Fixes #1895 Add test to GeoWidgetConfiguration class
  android/engine/src/test/java/GeoWidgetConfigurationTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/profile/bottomSheet/ProfileBottomSheetFragmentTest.kt
Labels: Code Health

#1928 Include secondary resources in register and profile configurations
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/profile/ProfileConfiguration.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/register/RegisterConfiguration.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/FhirResourceConfigs.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ResourceData.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/rulesengine/RulesFactory.kt
  android/engine/src/test/assets/configs/app/patient_profile_secondary_config.json
  android/engine/src/test/assets/configs/app/patient_register_secondary_config.json
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/RegisterRepositoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/rulesengine/RulesFactoryTest.kt
  android/quest/src/main/assets/configs/app/profiles/default_profile_config.json
  android/quest/src/main/assets/configs/app/profiles/household_profile_config.json
Labels: FHIR Core

#1948 WIP revamp setting screen
  android/engine/build.gradle
  android/engine/src/androidTest/java/org/smartregister/fhircore/engine/ui/components/UserSettingScreenKtTest.kt
  android/engine/src/debug/java/org/smartregister/fhircore/engine/HiltExtension.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingFragment.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingScreen.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingViewModel.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingsEvent.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/AndroidExtensions.kt
  android/engine/src/main/res/drawable/logo_fhir_core.png
  android/engine/src/main/res/values-fr/strings.xml
  android/engine/src/main/res/values-sw/strings.xml
  android/engine/src/main/res/values/strings.xml
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingFragmentTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/usersetting/UserSettingViewModelTest.kt
Labels: FHIR Core

#1977 Remove passing of observations to questionnaires
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ProfileData.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/models/PatientProfileViewData.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/mappers/ProfileViewDataMapper.kt
Labels: Malawi CORE

#1930 Ignore compose preview functions from codecov
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/appsetting/AppSettingScreen.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/bottomsheet/RegisterBottomSheetView.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/CircularPercentageIndicator.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/CircularProgressBar.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/ErrorMessage.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/PinView.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/register/LoaderView.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/register/NoResultsView.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/register/RegisterFooter.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/components/register/RegisterHeader.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginScreen.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/pin/PinLoginScreen.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/pin/PinSetupScreen.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/annotation/PreviewExcludeGenerated.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/annotation/PreviewWithBackgroundExcludeGenerated.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/components/AppDrawer.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/components/BottomScreenSection.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/components/TopScreenSection.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/components/ChangeManagingEntityView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/profile/components/MemberProfileBottomSheetView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/register/RegisterScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/components/DateRangeItem.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/components/DateSelectionBox.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/components/MeasureReportIndividualResultView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/components/MeasureReportPatientRow.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/components/MeasureReportPopulationResultView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/components/MeasureReportRow.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/components/PatientSelector.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/screens/MeasureReportResultScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/report/measure/screens/ReportTypeSelectorScreen.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/ActionableButton.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/CardView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/CompoundText.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/ExtendedFab.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/PersonalDataView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/SearchBar.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/ServiceCard.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/SpacerView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/ViewRenderer.kt
Labels: FHIR Core

#1949 Fix issue with x-fhir-query answer expression failing
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestApplication.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/data/QuestXFhirQueryResolver.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/data/QuestXFhirQueryResolverTest.kt
Labels: FHIR Core
