Repository opensrp/fhircore, pull requests merged in 2023-02, with the labels that each got.

#1824 Issue 1790, 1814 Downloading resources from Composition config
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/ConfigurationRegistry.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/di/NetworkModule.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/ListExtension.kt
  android/quest/src/main/assets/configs/app/sync_config.json
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/login/LoginActivity.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/app/ConfigurationRegistryTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/login/LoginActivityTest.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/main/AppMainViewModelTest.kt
Labels: FHIR Core

#2009 On back pressed alert dialog bug fix
  android/engine/src/main/res/values/strings.xml
  android/quest/build.gradle
  android/quest/src/main/AndroidManifest.xml
  android/quest/src/test/java/org/smartregister/fhircore/quest/StructureMapUtilitiesTest.kt
  android/quest/src/test/resources/content/general/supply-chain/physical_inventory_count_and_stock.map
Labels: Bug Report

#1998 1996, fix crash indexOutOfBound check with qrItems.size
  android/engine/build.gradle
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/ResourceExtension.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireViewModelTest.kt
  android/quest/src/test/resources/patient-registration-questionnaire/sample/missingitem-questionnaire-response.json
  android/quest/src/test/resources/patient-registration-questionnaire/sample/missingitem-questionnaire.json
Labels: Bug Report, Quest

#2039 Feature/update immunization test
  android/engine/src/test/java/org/smartregister/fhircore/engine/task/FhirCarePlanGeneratorTest.kt
  android/engine/src/test/resources/plans/child-immunization-schedule/plan-definition.json
  android/engine/src/test/resources/plans/child-immunization-schedule/structure-map-child-immunization-schedule.txt
Labels: Technical Debt, Scheduling & Tasking ($lite)

#2038 Fix menu count anr
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/SideMenuOption.kt
  android/quest/build.gradle
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestApplication.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/navigation/SideMenuOptionFactory.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/components/AppDrawer.kt
Labels: Malawi CORE

#2034 Update to latest P2P library version
  android/engine/build.gradle
  android/quest/build.gradle
Labels: P2P Sync

#2048 Add documentation for COMPOUND_TEXT
  docs/configurations/widgets/widget-config.mdx
Labels: Documentation

#2071 Fix crash on ANR
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestApplication.kt
Labels: Malawi CORE

#1902 Fix geowidget bugs and crashes
  CHANGELOG.md
  android/geowidget/src/main/java/org/smartregister/fhircore/geowidget/screens/GeoWidgetFragment.kt
  android/geowidget/src/main/java/org/smartregister/fhircore/geowidget/screens/GeoWidgetViewModel.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivity.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/ui/questionnaire/QuestionnaireActivityTest.kt
Labels: FHIR Core

#2004 [WDF] Create a Build variant for the Diabetes Compass Reference app
  android/quest/.gitignore
  android/quest/build.gradle
  android/quest/src/main/assets/sample_msf_survey.json
  android/quest/src/main/assets/sample_msf_survey_structuremap.json
  android/quest/src/main/assets/sample_patient_registration.json
  android/quest/src/wdf/res/drawable/ic_app_logo.png
  android/quest/src/wdf/res/drawable/ic_launcher.png
  android/quest/src/wdf/res/values/strings.xml
Labels: Configuration, WDF

#2017 Change SID to variant to Bunda to cover both SID and future team care app
  android/quest/build.gradle
  android/quest/src/bunda/res/drawable/ic_app_logo.png
  android/quest/src/bunda/res/drawable/ic_launcher.png
  android/quest/src/bunda/res/values/strings.xml
  android/quest/src/sid/res/values/strings.xml
Labels: Configuration, McGovern

#2082 [ZEIR] Create a Build variant for ZEIR-Zambia - Initial Commit
  .gitignore
  android/quest/.gitignore
  android/quest/build.gradle
  android/quest/src/zeir/res/drawable/ic_app_logo.png
  android/quest/src/zeir/res/drawable/ic_launcher.png
  android/quest/src/zeir/res/values/strings.xml
Labels: Configuration, ZEIR

#2096 [Quest/Malawi Core] In the app, sort the order of the tasks on the patient profile with 'double' values
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/TaskExtension.kt
Labels: Malawi CORE

#2097 [MWCore] Update the app version from build
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/login/LoginScreen.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/AndroidExtensions.kt
Labels: Malawi CORE
