Repository opensrp/fhircore, pull requests merged in 2023-05, with the labels that each got.

#2299 [Quest/MWCore] 'Welcome Service Back To Care' to Patient after they interrupt treatment
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/app/ConfigService.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/TracingRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/task/WelcomeServiceBackToCarePlanWorker.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
Labels: Malawi CORE, Tracing

#2310 Fix Flakey Tests ✅
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/DateTimeExtension.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/util/extension/PatientExtensionTest.kt
Labels: Technical Debt, Code Health

#2313 [Quest/MWCore] Force user to confirm credentials when away from app
  android/engine/src/main/java/org/smartregister/fhircore/engine/auth/AccountAuthenticator.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/auth/AccountAuthenticatorTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestApplication.kt
Labels: Malawi CORE

#2338 [Quest/MWCore] Use encoded google-services json
  .github/workflows/ci-mwcore.yml
  .gitignore
  android/build.gradle
  android/quest/build.gradle
Labels: Malawi CORE

#2345 Pass only relevant and most recent observations to a questionnaire
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/HivRegisterDao.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/domain/model/ProfileData.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModel.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModelTest.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/models/PatientProfileViewData.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/mappers/ProfileViewDataMapper.kt
Labels: Malawi CORE

#2328 [Quest/MWCore] Fix multiple linkid answer crash when populating resources
  android/engine/build.gradle
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/util/extension/QuestionnaireExtension.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivityTest.kt
Labels: Malawi CORE

#2113 Add sentry project to track on performance
  android/build.gradle
  android/quest/build.gradle
  android/quest/src/main/AndroidManifest.xml
  android/quest/src/main/java/org/smartregister/fhircore/quest/QuestApplication.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/QuestApplicationTest.kt
  docs/developer-setup/sentry.mdx
Labels: WIP, OpenSRP Roadmap

#2363 Add documentation for evaluateToBoolean()
  docs/configurations/working-with-rules.mdx
Labels: Documentation

#2368 [Mwcore] Add Firebase performance tracing
  android/engine/build.gradle
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/PatientRegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/di/AnalyticsModule.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/di/CoreModule.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/SyncBroadcaster.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/trace/FirebasePerformanceReporter.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/trace/PerformanceReporter.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivity.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModel.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/PatientRegisterRepositoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/sync/SyncBroadcasterTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/trace/FakePerformanceReporter.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/trace/FirebasePerformanceReporterTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/login/LoginActivityTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/pin/PinSetupActivityTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivityTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireViewModelTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/register/BaseRegisterActivityTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/userprofile/UserProfileViewModelTest.kt
  android/quest/src/main/AndroidManifest.xml
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/main/AppMainActivity.kt
Labels: Malawi CORE

#2361 Refactor interpolate to have one in the ViewProperties
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/ButtonProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/CardViewProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/ColumnProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/CompoundTextProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/ListProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/PersonalDataProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/RowProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/ServiceCardProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/SpacerProperties.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/configuration/view/ViewProperties.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/CardView.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/CompoundText.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/ViewGenerator.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/ui/shared/components/ViewRenderer.kt
  android/quest/src/main/java/org/smartregister/fhircore/quest/util/extensions/ConfigExtensions.kt
  android/quest/src/test/java/org/smartregister/fhircore/quest/util/extensions/ConfigExtensionsTest.kt
Labels: DNM, Work In Progress

#2382 Add tests to TokenAuthenticator
  android/engine/src/test/java/org/smartregister/fhircore/engine/auth/TokenAuthenticatorTest.kt
Labels: Code Health

#2400 Update performance logging for sync and the different registers
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/AppRegisterRepository.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/data/local/register/dao/RegisterDaoFactory.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/di/CoreModule.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/sync/SyncBroadcaster.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/trace/FirebasePerformanceReporter.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/trace/PerformanceReporter.kt
  android/engine/src/main/java/org/smartregister/fhircore/engine/ui/questionnaire/QuestionnaireActivity.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/data/local/register/AppRegisterRepositoryTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/sync/SyncBroadcasterTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/trace/FakePerformanceReporter.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/trace/FirebasePerformanceReporterTest.kt
  android/engine/src/test/java/org/smartregister/fhircore/engine/ui/userprofile/UserProfileViewModelTest.kt
Labels: Malawi CORE
